@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body, html {
    font-family: 'Roboto';
    margin: 0;

    a {
        text-decoration: none;
    }
 }

 header {
    padding: 10 em;
    margin-left: 6.5em;
    margin-right: 2em;
    
    .title {
        line-height: 1em;
        padding-top: 5em;
    }
    .logo {
        color: #427EA3;
        font-weight: normal;
        font-family: 'PT Sans';
        font-size: 4em; 
    }

    .bio {
        font-family: 'PT Sans';
        font-size: 1.2em;
        line-height: 1.5em; 
    }

    .menu-btn {
        width: 20px;
        float: right;
        cursor: pointer;
        padding-top: 2em;
        
    }
 }
    
section {
    padding: 4em;
}


    h1 {
        font-size: 1.7em;
        margin: 1em auto;
        width: 90%;
        font-family: 'PT Sans';
        font-weight: normal;

        
    }




nav {
    position: absolute;
    background: #427EA3;
    padding: 2em;
    width: calc(100% - 4em);
    height: calc(100vh - 4em);
    display: none;
    transform: scaleX(0);
    transform-origin: right;
    

    .close-btn {
        width: 18px;
        float: right;
        cursor: pointer;
        opacity: 0;
    }

    ul {
        list-style-type: none;
        margin: 20% auto 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 43%);
        width: 70%;

        a {
            color: white;
            font-weight: bold;
            font-family: 'PT Sans';
            font-size: 2em;
    
        }

        li {
            opacity: 0;

        }
    }
}

.show-menu {
    display: block;
    animation: slide-menu 1s ease-in forwards;

    .close-btn {
        animation: show-x 1s 1s forwards;
    }

    li:nth-of-type(1) {
        animation: menu-item-anim .6s forwards 1s ease-in-out;
    }

    li:nth-of-type(2) {
        animation: menu-item-anim .6s forwards 1.2s ease-in-out;
    }

    li:nth-of-type(3) {
        animation: menu-item-anim .6s forwards 1.4s ease-in-out;
    }
}

@keyframes slide-menu {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes show-x {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes menu-item-anim {
    from {
        transform: translateY(60%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
